.left-side-bar {
    width: 20%;
    padding-top: 1rem;

    .text-reset {
        background: transparent;
        border: 0;
        padding-right: 1rem;
    }

    .offcanvas {
        width: 300px;
    }

    .home-section,
    .projects-section,
    .dashboard-section,
    .messages-section,
    .documents-section,
    .organizations-section,
    .settings-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        &__text {
            margin-left: 1rem;
            width: 100%;
            text-align: left;
        }
    }

    .btn {
        border: 1px solid #000;
    }
}